@{
    ViewData["Title"] = "Home Page";
}
      


<h1>Hey @ViewData["user_name"], @ViewData["Welcome-Message"]</h1>
<p> your claim values are: </p>
  <ul>
    <li>@ViewData["user_id"]</li>
    <li>@ViewData["user_email"]</li>
    <li>@ViewData["user_name"] </li>
    <li>@ViewData["user_surname"] </li>
    <li>@ViewData["user_role"]</li>
  </ul>
 </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br> here..!</p>
