@{
  ViewData["Title"] = "My Markings";
}
@model  List<OnlineMarkerCW.Models.Work>


<h1>Students' Coursework</h1>
<br>

<div class="submissions_list">

    <p>Student</p>
    <p>Submission</p>
    <p>Mark</p>
    <ol>
        @foreach (var work in Model){
            <li>
                <p>@work.Owner.Name @work.Owner.Surname</p>
                
                <p class="middle-col">
                    <a asp-controller="Home" asp-route-id="@work.WorkID" title="@work.FileName" asp-action="WorkView"> @work.FileName</a>
                    <span> - @work.SubmitDate</span>
                </p>
                
                @if (@work.Marked){<p class="@( @work.Mark < 40 ? "generic-error" : "generic-message")"> @work.Mark </p>}
                else { <p>Not marked</p> }
            </li>
        }
    </ol>
</div>