
@model OnlineMarkerCW.Models.Work
@using System.IO
@section header {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
}
@{
    ViewData["Title"] = "Submission " + @Model.FileName;
    var file_content = System.IO.File.ReadAllLines(@Model.FilePath);
}

<h1>Viewing: @Model.FileName</h1>

<h3 class="generic-message">@ViewData["update-confirmation-msg"]</h3>
<h3 class="generic-error">@Html.ValidationSummary()</h3>

@if (ViewData["user_role"] == "Student")
{
    <form method="post" asp-action="WorkDelete" asp-controller="Home" asp-route-id="@Model.WorkID">
        <input type="submit" class="red" value="Delete this upload" />
    </form>
}
<h3 class="render_switch_btn">
    <a id="src_code_button">html source code </a> |
    <a id="html_render_button"> html render result </a> |
    <a id="sidebyside_button"> side-by-side view </a> </h3>

<div class="view-container-src">
    <pre><code class="html">
    @foreach (var  file_line in @file_content) {
      @Html.Raw(@Html.Encode(@file_line));
      @Html.Raw("\n")
    }
  </code></pre>
</div>

<div class="view-container-render">
    <iframe class="frame" width="100%" height="800px" data-srcdoc="
            @foreach (var file_line in @file_content) { @Html.Raw(@Html.Encode(@file_line))   } ">
        If you're seeing this, your browser doesn't support iFrames
    </iframe>
</div>

<div class="row view-container-both">
    <div class="col-md-6">
        <h2>Rendered Coursework</h2>
        <iframe class="frame" width="100%" height="600px" data-srcdoc="
                @foreach (var file_line in @file_content) { @Html.Raw(@Html.Encode(@file_line))  } ">
            If you're seeing this, your browser doesn't support iFrames
        </iframe>

    </div>
    <div class="col-md-6">
        <h2>Coursework Source Code</h2>
        <div>
            <pre><code>
                @foreach (var file_line in @file_content){
                    @Html.Raw(@Html.Encode(@file_line));
                    @Html.Raw("\n")
                }
            </code></pre>
        </div>
    </div>
</div>

<br>

<div class="row">
@using (Html.BeginForm("WorkViewForMarker", "Home", FormMethod.Post, new { id = "gradingForm" }))
{
    <div class="col-md-4">
        @if (Model.Marked){
            <h3>Current Awarded Mark</h3>
            <br>
            <input form="gradingForm" type="number" name="mark" min="0" max="100" value=@Model.Mark>
        } else {
            <h3>Select Grade</h3>
            <br>
            <input form="gradingForm" type="number" name="mark" min="0" max="100">
        }

    </div>
    <div class="col-md-8">
        @Html.AntiForgeryToken()
        <h3>Feedback</h3>
        <textarea class="larger" form="gradingForm" name="feedback" rows="8">@Model.Feedback</textarea>
        <br>
        <input type="submit" value="Sumbit Marking">
        @Html.ValidationSummary()
    </div>
}
</div>

@section scripts {
  <environment names="Development">
      <script src="~/js/code-html-view.js" asp-append-version="true"></script>
  </environment>
  <environment names="Staging,Production">
      <script src="~/js/code-html-view.min.js" asp-append-version="true"></script>
  </environment>
}
