<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="apple-touch-icon image_src" sizes="144x144" href="/apple-icon-144x144.png">


    <title>@ViewData["Title"] - OnlineMarkerCW</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

  <nav class="navbar-default topbar" style="margin-bottom: 0">
      <div class="navbar-header center-block">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand "> Welcome to <a asp-area="" asp-controller="Home" asp-action="Index" >OnlineMarkerCW</a>, @ViewData["user_name"]!</span>
      </div>
  </nav>

  <div class="wrapper" >
    <nav class="navbar-default sidebar">
        <div class="sidebar-collapse">
            <ul class="nav">
                <li> <img  src="~/img/quick-logo_min.png" class="user-image img-responsive" alt="The OnlineMarker Logo"/> </li>

                <li>@Html.ActionLink("My Works", "MyWorks", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                      <input type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <section class="body-content">
          @RenderBody()
    </section>
  </div>
  <footer>
    <p>&copy; 2016 - OnlineMarkerCW</p>
  </footer>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
